@use "sass:map";

// デフォルトの色
$base-font-color: #222;
$base-bg-color: #FFF;

// パレットの定義
$color-palette: (
  yel: (
    base : #F8F03E,
    dark : #F6AC0C,
  ),
  rd : (
    base : #EA3A20,
    vivid : #EB281F,
  ),
  wt : (
    base : #FFF,
  ),
  blu : (
    base : #23479F,
    soft : #6090FF,
    vivid :#27AED3,
  ),
  gry : (
    base : #DDD,
  )
) !default;

// color(色系統, トーン)
@function color($color, $tone:base) {
  @return map.get(map.get($color-palette, $color), $tone);
}