@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.p-company {
  & {
    padding: 36rem 0 21.8rem;
    position: relative;

    @include sp {
      padding: 22rem 0;
    }

    &::after {
      content: "";
      width: 12.9rem;
      height: 11rem;
      background-image: url(../img/company/company_obj04.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 25rem;
      right: 11rem;

      @include sp {
        width: 9.7rem;
        height: 8.2rem;
        top: 18rem;
        right: -2.4rem;
      }
    }

    &__txtblk {
      top: -14rem;
      
      &::before,
      &::after {
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        z-index: 2;
      }

      &::before {
        width: 23.3rem;
        height: 18.3rem;
        background-image: url(../img/company/company_obj01.svg);
        top: 3.6rem;
        left: 25rem;

        @include sp {
          width: 14rem;
          height: 11.1rem;
          top: 1.3rem;
          left: -1.5rem;
        }
      }

      &::after {
        width: 18.5rem;
        height: 14.8rem;
        background-image: url(../img/company/company_obj02.svg);
        bottom: 5.1rem;
        right: 35.9rem;

        @include sp {
          width: 11.5rem;
          height: 9.2rem;
          bottom: 2rem;
          right: .6rem;
        }
      }
    }

    &__cont {
      position: relative;
      z-index: 2;

      &::before,
      &::after {
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
      }

      &::before {
        width: 28rem;
        height: 22rem;
        background-image: url(../img/company/company_obj03.svg);
        top: -22rem;
        left: 0;
        z-index: 3;

        @include sp {
          width: 16.8rem;
          height: 13.2rem;
          top: -13.2rem;
        }
      }

      &::after {
        width: 17rem;
        height: 14.2rem;
        background-image: url(../img/company/company_obj05.svg);
        bottom: -7.7rem;
        left: -12.4rem;
        z-index: -1;

        @include sp {
          width: 8.5rem;
          height: 7.1rem;
          bottom: -4.4rem;
          left: -3.1rem;
        }
      }
    }

    &__table {
      display: block;
      background-color: color(wt,base);
      border: solid 1rem $base-font-color;
      padding: 9rem 12.4rem;

      @include sp {
        border: solid .6rem $base-font-color;
        padding: 5.6rem 1.4rem;
      }
    }

    &__tbody {
      display: block;
    }

    &__tr {
      display: block;
      border-top: solid .3rem $base-font-color;
      padding: 3.2rem 2.4rem;

      @include sp {
        border-top: solid .2rem $base-font-color;
        padding: 2.4rem 0;
      }

      &:last-of-type {
        border-bottom: solid .3rem $base-font-color;

        @include sp {
          border-bottom: solid .2rem $base-font-color;
        }
      }
    }

    &__th {
      font-size: 1.8rem;
      font-weight: $base-font-bold;
      text-align: left;
      min-width: 22.4rem;

      @include sp {
        font-size: 1.6rem;
        display: block;
        min-width: 100%;
      }
    }

    &__td {
      font-size: 1.8rem;
      line-height: 140%;
      font-weight: $base-font-medium;

      @include sp {
        font-size: 1.6rem;
        display: block;
        margin-top: 1.2rem;
      }

      a {
        color: $base-font-color;
      }
    }
  }
}