@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.p-exective {
  & {
    padding: 35rem 0 22rem;

    @include sp {
      padding: 25rem 0 20rem;
    }

    &__txtblk {
      top: -14rem;

      @include sp {
        top: -6rem;
      }
    }

    &__cont {
      background-color: $base-bg-color;
      border: solid 1rem $base-font-color;
      padding: 12rem 12.4rem 9rem;
      position: relative;
      z-index: 2;

      @include sp {
        border: solid .6rem $base-font-color;
        padding: 6.8rem 1.4rem 5.6rem;
      }

      &::before {
        content: "";
        width: 38.1rem;
        height: 22.7rem;
        background-image: url(../img/exective/exective_obj01.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -14.1rem;
        left: -11.3rem;

        @include sp {
          width: 19rem;
          height: 11.3rem;
          top: -5.7rem;
          left: -3.2rem;
        }
      }
    }

    &__wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include sp {
        display: block;
      }
    }

    &__item {
      width: 57.2rem;
      height: 32.2rem;
      border: solid .8rem $base-font-color;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      @include sp {
        width: 100%;
        height: 16.6rem;
        border: solid .4rem $base-font-color;
      }

      &::before {
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
      }

      &--president {
        background-image: url(../img/exective/exective_img01.jpg);
        
        &::before {
          content: "";
          width: 37.2rem;
          height: 8.7rem;
          background-image: url(../img/exective/exective_name01.svg);
          top: -3.6rem;
          left: -3rem;

          @include sp {
            width: 18.4rem;
            height: 4.3rem;
            top: -1.6rem;
            left: -1.4rem;
          }
        }
      }

      &--vice {
        background-image: url(../img/exective/exective_img02.jpg);
        
        &::before {
          content: "";
          width: 37.4rem;
          height: 8.8rem;
          background-image: url(../img/exective/exective_name02.svg);
          top: -3.6rem;
          left: -3rem;

          @include sp {
            width: 19.5rem;
            height: 4.6rem;
            top: -1.6rem;
            left: -1.4rem;
          }
        }
      }

      &:not(:first-of-type) {
        @include sp {
          margin-top: 3.2rem;
        }
      }
    }

    &__role {
      color: $base-bg-color;
      font-family: $ff-dela-gothic-one;
      font-weight: $base-font-regular;
      font-size: 2rem;
      line-height: 100%;
      letter-spacing: .05em;
      writing-mode: vertical-rl;
      background-color: $base-font-color;
      padding: .8rem 1rem;
      position: absolute;
      bottom: -.7rem;
      left: -.7rem;

      @include sp {
        font-size: 1.6rem;
        padding: .8rem;
        bottom: -.4rem;
        left: -.4rem;
      }
    }

    &__name {
      color: $base-bg-color;
      font-family: $ff-dela-gothic-one;
      font-weight: $base-font-regular;
      font-size: 3.2rem;
      background-color: $base-font-color;
      padding: .8rem 1.4rem .8rem 0;
      position: absolute;
      bottom: -.7rem;
      left: 3.3rem;

      @include sp {
        font-size: 2.2rem;
        padding: .8rem .8rem .8rem .3rem;
        bottom: -.4rem;
        left: 2.7rem;
      }
    }

    &__txt {
      color: color(blu,base);
      font-family: $ff-murecho;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 150%;
      text-align: center;
      text-shadow: 1px 1px 0 color(wt,base), -1px -1px 0 color(wt,base),
                  -1px 1px 0 color(wt,base), 1px -1px 0 color(wt,base),
                  1px 0 0 color(wt,base), -1px 0 0 color(wt,base),
                  0 1px 0 color(wt,base), 0 -1px 0 color(wt,base);
      filter: drop-shadow(2px 2px 0 rgba($base-font-color, .2));
      margin-top: 4rem;

      @include sp {
        font-size: 1.8rem;
        text-align: left;
        margin-top: 2.4rem;
      }

      em {
        color: color(rd,base);
        font-style: normal;
      }
    }

    &__message {
      background-color: color(wt,base);
      border: solid 1rem $base-font-color;
      margin-top: 18.7rem;
      padding: 14rem 12.4rem 9rem;
      position: relative;

      @include sp {
        border: solid .6rem $base-font-color;
        margin-top: 8.8rem;
        padding: 8.2rem 1.4rem 4rem;
      }

      &::before,
      &::after {
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
      }

      &::before {
        width: 13.8rem;
        height: 18.5rem;
        background-image: url(../img/exective/exective_obj03.svg);
        top: -18.5rem;
        left: 23.1rem;

        @include sp {
          width: 7.4rem;
          height: 9.26rem;
          top: -9.1rem;
          left: -2.8rem;
        }
      }

      &::after {
        width: 32.3rem;
        height: 19rem;
        background-image: url(../img/exective/exective_obj02.svg);
        top: -9.2rem;
        right: .8rem;
        z-index: 3;

        @include sp {
          width: 16.1rem;
          height: 9.5rem;
          top: -10.7rem;
          right: -3.2rem;
        }
      }
    }

    &__message-ttl {
      font-family: $ff-dela-gothic-one;
      font-size: 4.8rem;
      font-weight: $base-font-regular;
      line-height: 100%;
      letter-spacing: .05em;
      text-align: center;
      width: 65rem;
      height: 21.1rem;
      background-image: url(../img/exective/ttl_obj01.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -10.7rem;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);

      @include sp {
        font-size: 2.4rem;
        width: 29.9rem;
        height: 9.7rem;
        top: -5rem;
      }
    }

    &__message-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include sp {
        display: block;
      }
    }

    &__message-img {
      width: 57.2rem;
      border: solid .8rem $base-font-color;
      flex-shrink: 0;

      @include sp {
        width: 100%;
        border: solid .4rem $base-font-color;
      }
    }

    &__message-txtarea {
      width: 57.1rem;

      @include sp {
        width: 100%;
        margin-top: 4.8rem;
      }
    }

    &__message-blk-ttl {
      font-family: $ff-murecho;
      font-size: 3.2rem;
      font-weight: $base-font-bold;
      line-height: 140%;

      @include sp {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    &__message-blk-txt {
      font-size: 1.8rem;
      font-weight: $base-font-medium;
      line-height: 180%;
      margin-top: 4rem;

      @include sp {
        font-size: 1.6rem;
        margin-top: 2.4rem;
      }
    }

    &__message-signature {
      width: 12rem;
      margin: 4rem 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @include sp {
        width: 9rem;
        margin-top: 2.4rem;
      }
    }

    &__message-signature-role {
      font-family: $ff-murecho;
      font-weight: $base-font-bold;
      font-size: 1.6rem;

      @include sp {
        font-size: 1.4rem;
      }
    }

    &__message-signature-name {
      font-family: $ff-murecho;
      font-weight: $base-font-bold;
      font-size: 2.4rem;
      margin-top: 1.2rem;

      @include sp {
        font-size: 1.8rem;
        margin-top: .8rem;
      }
    }
  }
}